body{ 
    background: lightblue; 
    text-align: center; 
   } 
     
   h1,h2{ 
    color:lightslategray; 
   }   
   .kotak1{ 
    background: lightyellow; 
    padding: 20px; 
    float: left; 
    margin: 50px; 
    width: 150px;
    height: 150px;  
} 
  
.kotak2{ 
 background: lightcoral; 
 padding: 20px; 
 float: left; 
 margin: 50px; 
 width: 150px; 
 height: 150px; 
 transform: rotate(30deg);  
} 
  
.kotak3{ 
 background: #fcfcfc; 
 padding: 20px; 
 float: left; 
 margin: 50px; 
 width: 150px; 
 height: 150px; 
 transform: rotate(90deg);  
} 
  
.kotak4{ 
 background: #fcfcfc; 
 padding: 20px; 
 float: left; 
 margin: 50px; 
 width: 150px; 
 height: 150px; 
 transform: rotate(-60deg);  
}